.stylistsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.stylistsGrid h3 span {
  display: block;
  font-size: 1.4rem;
  padding-top: 0.5rem;
}

.stylistsGrid li {
  background-color: var(--color-green-dark);
  color: var(--color-black);
  padding: 3rem;
  border-radius: 3px;
}

.stylistsGrid h3 span {
  color: #7b7b7b;
}

.stylistsGrid svg {
  background-color: var(--color-green);
  width: 60px;
  height: 60px;
  border-radius: 52%;
  padding: 1.5rem;
}

.stylistsGrid p {
  font-size: 1.5rem;
}

@media screen and (min-width: 769px) {
  .stylistsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .stylistsGrid li {
    border-radius: 6px;
  }
}

@media screen and (min-width: 1201px) {
  .stylistsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.careerBlock {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(45rem, 100%), 1fr));
  gap: 6rem;
}

.workText {
  max-width: 650px;
}

@media screen and (min-width: 1025px) {
  .workText h2 {
    max-width: 70%;
  }
}
