.instaLink {
  font-weight: 600;
  cursor: pointer;
}

.instaLink:hover {
  color: var(--color-hover);
}

.bold {
  font-weight: 600;
}

.colorBackground {
  background-color: var(--color-green);
  padding: 3rem;
  margin-top: 5rem;
  border-radius: 6px;
}

@media screen and (min-width: 1025px) {
  .colorBackground {
    padding: 6rem;
  }
}

.colorBackground h2 {
  font-size: 3rem;
}
