.page {
  min-height: 100svh;
}

/* .mainHeading span {
  font-family: "Lora", Georgia, "Times New Roman", serif;
  font-size: var(--heading-1);
  display: block;
} */

.cardList {
  grid-column: 1/-1;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(31rem, 100%), 1fr));
}
