.button {
  background-color: transparent;
  border-color: transparent;
  margin-left: 0;
  margin-bottom: 0;
}

.button {
  outline: 2px dashed red;
}

.button[aria-expanded="true"] {
  margin-left: auto;
  display: block;
}

@media screen and (min-width: 769px) {
  .button {
    display: none;
  }
}

.symbol {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.symbol:before,
.symbol:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 3rem;
  border-radius: 1rem;
  left: 0;
  top: 1rem;
  background: var(--color-black);
  transform-origin: center center;
  will-change: transform;
  transition: transform 0.2s linear;
}

.symbol:after {
  top: auto;
  bottom: 1rem;
}

.button[aria-expanded="true"] .symbol:before {
  transform: rotate(45deg);
  top: 1.4rem;
  background: var(--color-white);
}

.button[aria-expanded="true"] .symbol:after {
  transform: rotate(-45deg);
  bottom: 1.4rem;
  background: var(--color-white);
}
