.hamburger-button {
  background-color: transparent;
  border-color: transparent;
  align-self: flex-end;
}

@media screen and (max-width: 720px) {
  .hamburger-button[aria-expanded="false"] + .main-navigation__nav-list {
    display: none;
  }
}

@media screen and (min-width: 721px) {
  .hamburger-button {
    display: none;
  }
}

.hamburger-button__symbols {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.hamburger-button__symbols:before,
.hamburger-button__symbols:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 3rem;
  border-radius: 1rem;
  left: 0;
  top: 1rem;
  background: var(--color-white);
  transform-origin: center center;
  transition: transform 200ms ease-out;
}

.hamburger-button[aria-expanded="false"] .hamburger-button__symbols:before,
.hamburger-button[aria-expanded="false"] .hamburger-button__symbols:after {
  background: var(--color-black);
}

.hamburger-button__symbols:after {
  top: auto;
  bottom: 1rem;
}

.hamburger-button[aria-expanded="true"] .hamburger-button__symbols:before {
  transform: rotate(45deg);
  top: 1.4rem;
}

.hamburger-button[aria-expanded="true"] .hamburger-button__symbols:after {
  transform: rotate(-45deg);
  bottom: 1.4rem;
}
