.header {
  padding-left: var(--document-gutter);
  padding-right: var(--document-gutter);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

@media screen and (min-width: 481px) {
  .header {
    padding: 1rem 3rem;
  }
}

@media screen and (min-width: 481px) {
  .header {
    padding: 1.6rem 3rem;
  }
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.link {
  padding-top: 1.18rem;
  width: 108px;
  height: auto;
}

.link .logo {
  width: 100%;
  height: auto;
}

.header {
  color: var(--color-black);
  background-color: var(--color-white);
}

@media screen and (min-width: 769px) {
  .link {
    padding-top: 0.3rem;
    width: 146px;
  }

  .logo {
    padding-top: 0;
  }
}
