.header {
  padding: var(--header-padding-top) var(--document-gutter);
  color: var(--color-black);
  background-color: var(--color-white);
}

@media screen and (min-width: 481px) {
  .header {
    padding: 1.5rem 2rem;
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link svg {
  width: 8.5rem;
  height: auto;
}

@media screen and (min-width: 769px) {
  .link svg {
    width: 10rem;
    height: auto;
  }
}
