.mainHeading {
  grid-column: 1 / -1;
}

@media screen and (min-width: 769px) {
  .mainHeading {
    grid-column: 1 / 20;
  }
}

.soMe {
  grid-column: 23 / -1;
  align-self: center;
  text-align: end;
  display: none;
}

@media screen and (min-width: 769px) {
  .soMe {
    display: block;
  }
}

.ctaWrapper {
  grid-column: 1 / -1;
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 481px) {
  .ctaWrapper {
    gap: 2rem;
  }
}

.ctaWrapper a {
  width: 100%;
}

@media screen and (min-width: 481px) {
  .ctaWrapper a {
    max-width: 180px;
  }
}

.phoneLink {
  border: 2px solid var(--color-black);
}

@media screen and (min-width: 769px) {
  .phoneLink {
    display: none;
  }
}

.icon {
  color: var(--color-black);
  display: block;
}

.icon + .icon {
  margin-top: 0.5rem;
}

.icon:hover {
  color: var(--color-gray);
}

.icon svg {
  stroke: currentColor;
}
