section:has(.colorBlock) {
  height: 60vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  section:has(.colorBlock) {
    height: max-content;
    padding-top: 15rem;
    padding-bottom: 1.5rem;
  }
}

.colorBlock {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.mainHeading {
  grid-column: 1 / -1;
}

.mainHeading span {
  display: block;
  font-family: var(--montserrat);
  font-size: clamp(2rem, 11.5vw, 5.7rem);
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
}

.mainHeading span:first-child {
  font-size: 1.4rem;
  font-family: var(--font-raleway);
  color: var(--color-gray);
  color: #5d5b5b;
  margin-bottom: 0.2rem;
  display: block;
  text-transform: uppercase;
}

@media screen and (min-width: 769px) {
  .mainHeading {
    grid-column: 1 / 20;
  }

  .mainHeading span:first-child {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1025px) {
  .mainHeading span {
    font-size: clamp(6rem, 6.5vw, 7rem);
  }
}

.ctaWrapper {
  grid-column: 1 / -1;
  display: flex;
  gap: 1.6rem;
}

@media screen and (min-width: 481px) {
  .ctaWrapper {
    gap: 2rem;
  }
}

.ctaWrapper a {
  width: 100%;
  max-width: 180px;
  margin-top: 0;
}

@media screen and (min-width: 769px) {
  .ctaWrapper a {
    width: max-content;
  }
}

.phoneLink {
  border: 2px solid var(--color-black);
}

@media screen and (min-width: 769px) {
  .phoneLink {
    display: none;
  }
}

.address {
  display: none;
}

@media screen and (min-width: 769px) {
  .address {
    display: block;
    grid-column: 1/-1;
    text-align: end;
    font-family: var(--font-raleway);
    font-style: normal;
    padding: 1rem 0;
    margin-top: 6rem;
  }

  .address a {
    padding: 1rem;
    font-size: var(--hero-links-size);
    transition: color 0.3s ease;
  }

  .address a:hover {
    color: var(--color-hover);
  }

  .address a:last-child {
    padding-right: 0;
  }
}

.heroImgContainer {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  aspect-ratio: 3 / 4; /* Default: mobil */
}

@media (min-width: 481px) {
  .heroImgContainer {
    aspect-ratio: 5 / 3;
  }
}

@media (min-width: 1024px) {
  .heroImgContainer {
    aspect-ratio: 7 / 3;
  }
}

@media screen and (min-width: 1441px) {
  .heroImgContainer {
    margin: 0 auto 9rem auto;
  }
}

.heroImgOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    rgb(99 84 3 / 8%) 0%,
    rgb(10 10 10 / 0%) 100%
  );
}

.fullWidthImg {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (orientation: landscape) and (max-device-height: 568px) {
  .mainHeading {
    margin-bottom: 1rem;
  }
  .mainHeading span {
    font-size: 4rem;
  }
  .ctaWrapper a {
    padding: 0.8rem 2rem;
  }
  .address {
    margin-top: 1rem;
  }
}

/* @media only screen and (orientation: landscape) and (min-height: 769px) {
  .mainHeading span {
    font-size: clamp(4rem, 4vw, 6rem);
  }
} */
