.list a {
  font-size: 4rem;
  color: var(--color-white);
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .nav.expanded {
    position: fixed;
    inset: 0;
    background-color: rgb(4, 61, 66);
    z-index: 1;
    padding: var(--header-padding-top) var(--document-gutter);
  }

  .nav .list {
    display: none;
  }

  .nav.expanded .list {
    display: block;
  }

  .nav.expanded .list li:first-child {
    margin-top: 6rem;
  }

  .nav.expanded .listItem {
    transform: translateX(150%);
    opacity: 0;
    animation-name: slide-in;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    padding: 3px 0;
  }

  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .nav.expanded .listItem {
      animation: none !important;
      opacity: 1 !important;
      transform: translateX(0) !important;
    }
  }

  .homeItem {
    animation-delay: 0.1s;
  }
  .listItem-0 {
    animation-delay: 0.2s;
  }
  .listItem-1 {
    animation-delay: 0.3s;
  }
  .listItem-2 {
    animation-delay: 0.4s;
  }
  .listItem-3 {
    animation-delay: 0.5s;
  }
  .listItem-4 {
    animation-delay: 0.6s;
  }
}

@media screen and (min-width: 769px) {
  .homeItem {
    display: none;
  }

  .list {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  .list a {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    color: var(--color-black);
  }
}
