.section {
  display: flex;
  column-gap: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin: 8px 0 8px 8px;
  position: relative;
  background-color: transparent;
}

.snapsInline {
  scroll-snap-type: inline mandatory;
}

.snapsInline > * {
  scroll-snap-align: center;
}

@media screen and (min-width: 769px) {
  .section {
    max-width: 1440px;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 0;
    margin: 0;
  }
}

.wrapper {
  position: relative;
  aspect-ratio: 3/4;
  max-width: 280px;
  width: 100%;
  flex-shrink: 0;
}

@media screen and (min-width: 769px) {
  .wrapper {
    max-width: calc(100vw / 3);
  }
}

@media screen and (min-width: 1025px) {
  .section {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* @media screen and (min-width: 769px) {
  .wrapper {
    max-width: 360px;
    width: 100%;
  }
} */

@media screen and (min-width: 1400px) {
  .section {
    margin: 9rem auto;
  }
}

/* Arrows for scrollable container */
/* .scrollArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.scrollArrow.left {
  left: 0.5rem;
}

.scrollArrow.right {
  right: 0.5rem;
}

.scrollArrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
} */
