.soMe {
  grid-column: 23 / -1;
  align-self: center;
  text-align: end;
  display: none;
}

@media screen and (min-width: 769px) {
  .soMe {
    display: block;
  }
}

.icon {
  color: var(--color-black);
  display: block;
  will-change: color;
  transition: color 0.3s ease;
}

.icon + .icon {
  margin-top: 0.5rem;
}

.icon:hover {
  color: var(--color-hover);
}

.icon svg {
  stroke: currentColor;
}
