.textParent {
  grid-column: 1 / -1;
  grid-row: auto;
}

.textParent h2 {
  padding-top: 3rem;
  width: 85%;
}

.textParent a[href^="tel:"] {
  font-weight: 600;
}

@media screen and (min-width: 481px) {
  .textParent {
    margin: auto 0;
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 769px) {
  .textParent.default {
    grid-column: 13/-1;
  }
  .textParent.flip {
    grid-column: 1/13;
    grid-row: 1;
  }

  .textParent h2 {
    padding-top: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .textParent.default {
    grid-column: 13/-3;
  }
  .textParent.flip {
    grid-column: 3/13;
    grid-row: 1;
  }

  .textParent h2 {
    padding-top: 0;
    width: 85%;
  }
}
